/* ROOT */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    background-color: #FFFFFF;
    color: #000000;
    font-family: 'Inter', sans-serif;
  }
  
  /* HEADER */
  .page-header {
    display: flex;
    justify-content: center;
    padding: 28px 0;
    background: #000000;
  }
  
  .header-logo {
    display: block;
  }
  
  /* BANNER */
  .main-banner,
  .middle-banner {
    display: block;
    width: 100%;
  }
  
  /* INFOCARD */
  .top-infocard{
    display: flex;
    flex-direction: column;
    align-items: center;  
    justify-content: center;
    }
  
  .top-infocard-text {
    max-width: 766px;
    margin-right: 124px;
    padding: 80px 0 96px;
  }
  
  .top-infocard-subtitle {
    text-transform: uppercase;
    font-size: 32px;
    font-weight: 400;
    text-align: center;
  }
  
  .top-infocard-title {
    margin: -10px 0 24px;
    text-transform: uppercase;
    text-align: center;
    font-size: 48px;
    font-weight: 500;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
  
  .top-infocard-image {
    margin: 150px;
  }
  
  .top-cards {
    display: grid;
    grid-template-columns: repeat(3, max-content);
    gap: 20px;
    justify-content: center;
    padding: 74px 0;
  }
  
  .top-card {
    display: flex;
    flex-direction: column;
    max-width: 350px;
    padding: 26px 26px 34px;
    align-items: center;
    text-align: center;
    background: #FFFFFF;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.23);
  }
  
  .top-card-image {
    display: block;
    margin-bottom: 26px;
  }
  
  .top-card-description {
    max-width: 300px;
    text-align: center;
    line-height: 24px;
    font-size: 16px;
  }
  
  /* BOTTOM BANNERS */
  
  .middle-banner-container {
    width: 100%;
    justify-content: center;
    background: #E0E0E0;
    margin-bottom: 120px;
  }
  
  .middle-banner-div {
    display: grid;
    grid-template-columns: repeat(3, max-content);
    position: relative;
    top: 63px;
    margin: 16px;
  }
  
  .middle-banner {
    margin-top: 10px;
    max-width: 556px;
    padding: 0 10px;
  }
  
  .bottom-cards {
    display: grid;
    grid-template-columns: repeat(3, max-content);
    gap: 20px;
    justify-content: center;
    padding: 74px 0;
  }
  
  .bottom-card {
    display: flex;
    flex-direction: column;
    max-width: 350px;
    padding: 26px 26px 34px;
    align-items: center;
    text-align: center;
    background: #FFFFFF;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.23);
  }
  
  .bottom-card-description {
    max-width: 300px;
    text-align: center;
    line-height: 24px;
    font-size: 16px;   
  }
  
  /* BOTTOM INFOCARD */
  
  .bottom-infocard {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .bottom-infocard-text {
    max-width: 550px;
    margin: 138px 0 32px;
  }
  
  .bottom-infocard-title {
    font-weight: 600;
    font-size: 32px;
    line-height: 20px;
    margin-bottom: 18px;
    text-align: center;
  }
  
  .bottom-infocard-description {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
  }
  
  .bottom-infocard-image {
    max-width: 100%;
    margin-bottom: 104px;
  }
  
  /* FOOTER */
  
  .page-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 38px 0;
    background: #000000;
  }
  
  .footer-icons {
    display: flex;
    list-style: none;
    margin-bottom: 16px;
  }
  
  .footer-icon {
    margin: 0 8px;
  }
  
  .footer-description {
    text-transform: uppercase;
    line-height: 12px;
    font-size: 10px;
    color: #BDBDBD;
  }
  
  /* RESPONSIVIDADE */
  @media screen and (max-width: 415px) {
    .main-banner-desktop,
    .middle-banner-desktop,
    .bottom-infocard-image-desktop {
      display: none;
    } 
  }
  
  @media screen and (min-width: 415px) {
    .main-banner-mobile,
    .middle-banner-mobile,
    .bottom-infocard-image-mobile {
      display: none;
    } 
  }
  
  @media screen and (max-width: 768px) {
    .top-cards {
      grid-template-columns: 1fr;
      padding: 36px 26px;
    }
  }
  
  @media screen and (max-width: 992px) {
    .top-infocard {
      flex-direction: column;
      padding: 84px 26px 158px;
    }
  
    .top-infocard-text {
      margin: 0 0 68px;
    }
  
    .top-infocard-subtitle {
      font-size: 20px;
    }
  
    .top-infocard-title {
      margin-top: 20px;
      font-size: 28px;
    }
   
    .top-infocard-image { 
      width: 100%;
      max-width: 240px;
    }
  }
  
  @media screen and (min-width: 769px) and (max-width: 1200px) {
    .top-cards {
      grid-template-columns: repeat(2, max-content);
      padding: 36px 26px;
    }
  }
  
  @media screen and (min-width: 993px) and (max-width: 1280px) {
    .top-infocard-text {
      max-width: 520px;
      max-height: 70px;
    } 
  }